<div class="buttoncreate" fxLayout="row" fxLayoutAlign="end center" >
  <button mat-fab extended color="primary" routerLink="/create">
    <mat-icon>note_add</mat-icon>
    Create member
  </button>
</div>
<br/>
<div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="cin">
    <th mat-header-cell *matHeaderCellDef> cin</th>
    <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="cv">
    <th mat-header-cell *matHeaderCellDef> cv </th>
    <td mat-cell *matCellDef="let element"> {{element.cv}} </td>
  </ng-container>

  <ng-container matColumnDef="createDate">
    <th mat-header-cell *matHeaderCellDef> createDate </th>
    <td mat-cell *matCellDef="let element"> {{element.createDate}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button routerLink="/{{element.id}}/edit"><mat-icon>edit</mat-icon></button>
      <button  (click)="Delete(element.id)"><mat-icon>delete_forever</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
